Reconnection

Implement connection retry on network drops [RFC6120 Section 3.3]